In [22]:
import numpy as np
import pandas as pd
import math

In [27]:
num_rows = np.random.randint(low=10, high=1000)
num_cols = np.random.randint(low=2, high=1000)
X = np.random.normal(size=(num_rows, num_cols))
error = np.random.normal(size=num_rows)

In [28]:
X

array([[-0.01496918, -2.72423126,  2.09761369, ..., -3.11504325,
        -1.87096539,  0.26953148],
       [ 0.74693411, -1.0238227 ,  0.56094884, ..., -0.18472962,
        -1.05935285, -1.6817086 ],
       [ 0.8296874 ,  0.30865641,  0.46307205, ..., -0.57399645,
         2.76057932, -0.11491057],
       ...,
       [-0.05826186,  1.77465858,  0.41638645, ..., -1.19577691,
         0.71151629,  0.95131809],
       [ 0.52521503,  1.99484274, -0.08911013, ..., -0.74495289,
        -1.60467075, -1.56126434],
       [-0.73168442, -2.40443348, -3.233458  , ..., -1.05678861,
        -1.1573661 ,  0.81014518]])

In [23]:
df = pd.DataFrame(X)

In [24]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,159,160,161,162,163,164,165,166,167,168
0,0.034136,0.070567,-1.600638,-0.438405,-0.328989,-0.980073,0.190238,1.168829,0.592308,-1.883872,...,-0.926089,-0.751356,0.584756,-0.317020,-1.877539,1.753466,-0.180902,-0.598387,-0.606204,-0.725471
1,-0.204366,-1.892923,0.012930,0.239276,-0.566521,0.991511,0.906353,1.629928,-1.385686,-0.942935,...,1.976767,0.987805,0.524236,1.169133,0.658434,-0.129704,-1.791914,2.122758,-0.826482,0.372745
2,-0.189112,-0.924770,0.846906,0.609906,-0.218922,-0.053022,0.340274,-0.588092,-0.297925,0.781539,...,0.107110,-0.486613,-1.866357,-0.481413,-2.643973,-1.609518,1.309066,0.347099,2.086128,0.016007
3,2.703684,-0.596335,0.992145,-1.295289,0.732034,-1.273254,-1.257998,-1.248212,-1.836705,-0.179093,...,-0.979319,1.916655,1.995066,-0.431049,0.078970,1.522601,-1.566592,1.674900,1.162287,-0.561633
4,0.689642,0.932168,0.660585,0.601353,-2.140640,-0.848917,1.094592,0.617576,-0.773134,0.209835,...,0.125734,0.870889,0.569801,-0.479481,-0.013970,1.275882,-0.620092,1.090635,-1.120287,0.964976

In [26]:
error

array([-1.22613186, -0.22511556,  1.53146291,  0.42058446, -1.6676114 ,
       -0.67383766,  0.74486823,  1.45017987, -0.35377655,  0.25214842])

In [36]:
Y = X[:, 0]

In [37]:
for i in range(1, num_cols):
    coef = np.random.normal()
    Y = Y + coef * Y
Y = Y + error  # Add a normal error term

In [39]:
Y.shape

(745,)